<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Maps>
		<!-- <Row File="{goggles-maps}maps/fractal-ynamp.js" Name="LOC_MAP_FRACTAL_YNAMP_NAME" Description="LOC_MAP_CONTINENTS_YNAMP_DESCRIPTION" SortIndex="210"/> -->

		<Row File="{goggles-maps}maps/continents-voronoi-goggles.js" Name="LOC_MAP_CONTINENTS_JEC_NAME" Description="LOC_MAP_CONTINENTS_JEC_DESCRIPTION" SortIndex="900"/>
	</Maps>
	<MapSizes>
		<!-- Standard MapSize Domain - For ages where civs on both landmasses can win victories. -->
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_128_66_JEC" Name="LOC_MAPSIZE_128_66_JEC_NAME" Description="LOC_MAPSIZE_128_66_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="12" MaxHumans="12" DefaultPlayers="12" SortIndex="206"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_128_80_JEC" Name="LOC_MAPSIZE_128_80_JEC_NAME" Description="LOC_MAPSIZE_128_80_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="15" MaxHumans="15" DefaultPlayers="15" SortIndex="212"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_128_90_JEC" Name="LOC_MAPSIZE_128_90_JEC_NAME" Description="LOC_MAPSIZE_128_90_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="18" MaxHumans="18" DefaultPlayers="18" SortIndex="215"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_128_100_JEC" Name="LOC_MAPSIZE_128_100_JEC_NAME" Description="LOC_MAPSIZE_128_100_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="21" MaxHumans="21" DefaultPlayers="21" SortIndex="218"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_128_120_JEC" Name="LOC_MAPSIZE_128_120_JEC_NAME" Description="LOC_MAPSIZE_128_120_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="24" MaxHumans="24" DefaultPlayers="24" SortIndex="221"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_128_150_JEC" Name="LOC_MAPSIZE_128_150_JEC_NAME" Description="LOC_MAPSIZE_128_150_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="27" MaxHumans="27" DefaultPlayers="27" SortIndex="223"/>
		
		<!-- Distant Lands MapSize Domain - For ages where only civs on landmass1 can win victories. 
			This domain has lower MaxHumans so human players will only spawn on landmass1.  -->
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_128_66_JEC" Name="LOC_MAPSIZE_128_66_JEC_NAME" Description="LOC_MAPSIZE_128_66_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="12" MaxHumans="12" DefaultPlayers="12" SortIndex="206"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_128_80_JEC" Name="LOC_MAPSIZE_128_80_JEC_NAME" Description="LOC_MAPSIZE_128_80_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="15" MaxHumans="15" DefaultPlayers="15" SortIndex="212"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_128_90_JEC" Name="LOC_MAPSIZE_128_90_JEC_NAME" Description="LOC_MAPSIZE_128_90_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="18" MaxHumans="18" DefaultPlayers="18" SortIndex="215"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_128_100_JEC" Name="LOC_MAPSIZE_128_100_JEC_NAME" Description="LOC_MAPSIZE_128_100_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="21" MaxHumans="21" DefaultPlayers="21" SortIndex="218"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_128_120_JEC" Name="LOC_MAPSIZE_128_120_JEC_NAME" Description="LOC_MAPSIZE_128_120_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="24" MaxHumans="24" DefaultPlayers="24" SortIndex="221"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_128_150_JEC" Name="LOC_MAPSIZE_128_150_JEC_NAME" Description="LOC_MAPSIZE_128_150_JEC_DESCRIPTION" MinPlayers="2" MaxPlayers="27" MaxHumans="27" DefaultPlayers="27" SortIndex="223"/>

	</MapSizes>
	<SupportedValuesByMap>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapStartPositions" Value="START_POSITION_STANDARD" />

		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapSizes"		Value="MAPSIZE_128_66_JEC" 		/>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_128_66_JEC" 		/>

		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapSizes"		Value="MAPSIZE_128_80_JEC" 		/>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_128_80_JEC" 		/>

		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapSizes"		Value="MAPSIZE_128_90_JEC" 		/>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_128_90_JEC" 		/>

		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapSizes"		Value="MAPSIZE_128_100_JEC" 		/>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_128_100_JEC" 		/>

		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapSizes"		Value="MAPSIZE_128_120_JEC" 		/>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_128_120_JEC" 		/>

		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="StandardMapSizes"		Value="MAPSIZE_128_150_JEC" 		/>
		<Row Map="{goggles-maps}maps/continents-voronoi-goggles.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_128_150_JEC" 		/>


	</SupportedValuesByMap>

	<Parameters>

	</Parameters>

</Database>